// _varsMixinExtends.scss
//General Vars

$grad-primaryColor100: rgba(1, 42, 57, 1), rgba(30, 54, 54, 1);
$grad-primaryColor75: rgba(1, 42, 57, 0.75), rgba(30, 54, 54, 0.75);
$grad-primaryColor50: rgba(1, 42, 57, 0.5), rgba(30, 54, 54, 0.5);
$grad-primaryColor25: rgba(1, 42, 57, 0.25), rgba(30, 54, 54, 0.25);
$grad-primaryColor0: rgba(1, 42, 57, 0), rgba(30, 54, 54, 0);

$grad-secondaryColor100: rgba(19, 43, 64, 1), rgba(27, 46, 64, 1);
$grad-secondaryColor75: rgba(19, 43, 64, 0.75), rgba(27, 46, 64, 0.75);
$grad-secondaryColor50: rgba(19, 43, 64, 0.5), rgba(27, 46, 64, 0.5);
$grad-secondaryColor25: rgba(19, 43, 64, 0.251), rgba(27, 46, 64, 0.25);
$grad-secondaryColor0: rgba(19, 43, 64, 0), rgba(27, 46, 64, 0);

$grad-thirdColor100: rgba(215, 156, 5, 1), rgba(255, 217, 60, 1);
$grad-thirdColor75: rgba(215, 156, 5, 0.75), rgba(255, 217, 60, 0.75);
$grad-thirdColor50: rgba(215, 156, 5, 0.5), rgba(255, 217, 60, 0.5);
$grad-thirdColor25: rgba(215, 156, 5, 0.25), rgba(255, 217, 60, 0.25);
$grad-thirdColor0: rgba(215, 156, 5, 0), rgba(255, 217, 60, 0);

$grad-clearColor100: rgba(240, 240, 223, 1), rgba(239, 238, 202, 1);
$grad-clearColor75: rgba(240, 240, 223, 0.75), rgba(239, 238, 202, 0.75);
$grad-clearColor50: rgba(240, 240, 223, 0.5), rgba(239, 238, 202, 0.5);
$grad-clearColor25: rgba(240, 240, 223, 0.25), rgba(239, 238, 202, 0.25);
$grad-clearColor0: rgba(240, 240, 223, 0), rgba(239, 238, 202, 0);

$primaryColor100: rgba(1, 42, 57, 1);
$primaryColor75: rgba(1, 42, 57, 0.75);
$primaryColor50: rgba(1, 42, 57, 0.50);
$primaryColor25: rgba(1, 42, 57, 0.25);
$primaryColor0: rgba(1, 42, 57, 0);

$secondaryColor100: rgba(27, 46, 64, 1);
$secondaryColor75: rgba(27, 46, 64, 0.75);
$secondaryColor50: rgba(27, 46, 64, 0.50);
$secondaryColor25: rgba(27, 46, 64, 0.25);
$secondaryColor0: rgba(27, 46, 64, 0);

$thirdColor100: rgba(255, 195, 60, 1);
$thirdColor75: rgba(255, 195, 60, 0.75);
$thirdColor50: rgba(255, 195, 60, 0.5);
$thirdColor25: rgba(255, 195, 60, 0.25);
$thirdColor0: rgba(255, 195, 60, 0);

$clearColor100: rgba(240, 240, 223, 1);
$clearColor75: rgba(240, 240, 223, 0.75);
$clearColor50: rgba(240, 240, 223, 0.5);
$clearColor25: rgba(240, 240, 223, 0.25);
$clearColor0: rgba(240, 240, 223, 0);
// REMAKE COLORS AND MAKE SOMETHING LIKE THIS: https://dribbble.com/shots/6199791-Data-office-cockpit
// https://dribbble.com/shots/5799693-Planetarium-Landing-Page-Interaction
// Check https://codemyui.com/ https://uxplanet.org/ux-design-practices-how-to-make-web-interface-scannable-2010125c710e
$animationFX: cubic-bezier(0, 0, 0.27, 0.97);
/*
width of element:
	12 cols - 100%
	11 cols - 091,666666666%
	10 cols - 083,333333333%
	09 cols - 075%
	08 cols - 066,666666666%
	07 cols - 058,333333333%
	06 cols - 050%
	05 cols - 041,666666666%
	04 cols - 033,333333333%
	03 cols - 025%
	02 cols - 016,666666666%
	01 cols - 008,333333333%
	00 cols - 000%
*/
$width-12:100%;
$width-11:91.666666666%;
$width-10:83.333333333%;
$width-9:75%;
$width-8:66.666666666%;
$width-7:58.333333333%;
$width-6:50%;
$width-5:41.666666666%;
$width-4:33.333333333%;
$width-3:25%;
$width-2:16.666666666%;
$width-1:8.333333333%;
$width-0:0%;
//RWD Vars
$smallWidth: 640px;
$mediumWidth: 1007px;

/*Mixins*/
@mixin widthHeightsize($valueX, $valueY) {
	height:$valueY;
	width:$valueX;
}
@mixin flex($direct, $justCont, $aligItem, $wrap){
	display: flex;
	flex-direction: $direct;
	justify-content: $justCont;
	align-items: $aligItem;
	flex-wrap: $wrap;
}

@font-face {
	font-family: "Raleway";
	src: url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
}