// base.scss
@import 'noDefaultStyle';
@import 'varsMixinExtends';
.weatherLocationContainer{
    color: $clearColor75;
    @include widthHeightsize(100%, auto);
    overflow: hidden;
    border-radius: 20px;
    @include flex(column, space-around, center, wrap);
    background-color: $primaryColor100;
    .location{
        @include widthHeightsize(90%, 100px);
        @include flex(row, center, center, wrap);
        border-bottom: 1px solid $clearColor50;
    }
    .weatherDataContainer{
        background-color: $clearColor25;
        margin: 50px auto;
        border-radius: 20px;
        @include widthHeightsize(90%, 400px);
        @include flex(row, space-around, center, wrap);
        .weatherTimeContainer{
            @include widthHeightsize(90%, 10%);
            @include flex(column, center, flex-end, wrap);
        }
        .weatherTemperatureContainer{
            @include widthHeightsize(50%, 90%);
            @include flex(row, center, center, wrap);
            border-right: 1px solid $clearColor50;
            .weatherIcon{
                margin-right: 10px;
            }
            span{
                font-size: 25px;
                font-weight: 600;
            }
        }
        .weatherExtraInfoContainer{
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.1em;
            @include widthHeightsize(30%, 90%);
            @include flex(column, center, center, wrap);
        }
    }
}
