// base.scss
@import 'noDefaultStyle';
@import 'varsMixinExtends';
.weatherLocationContainer{
    color: $clearColor75;
    @include widthHeightsize(calc(100% - 40px), auto);
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
    @include flex(column, space-around, flex-start, wrap);
    background-color: $primaryColor100;
    button{
        @include widthHeightsize(200px, 50px);
        margin: 20px;
        margin-top: 0;
        border: 1px solid $clearColor50;
        color: $clearColor75;
        font-family: 'Raleway';
        text-transform: uppercase;
        border-radius: 20px;
        transition: 0.4s $animationFX;
        cursor: pointer;
        &:hover{
            background-color: $clearColor75;
            color: $primaryColor75;
            box-shadow: 0px 0px 5px 2px $clearColor75;
        }
        &:active{
            box-shadow: 0px 0px 10px 3px $clearColor75;
            transition: 0.1s $animationFX;
        }
    }
    .location{
        @include widthHeightsize(calc(100% - 40px), 100px);
        @include flex(row, center, center, wrap);
        border-bottom: 1px solid $clearColor50;
        margin: 20px;
        margin-top: 0;
    }
    .weatherDataContainer{
        margin: 20px;
        margin-top: 0;
        background-color: $clearColor25;
        border-radius: 20px;
        @include widthHeightsize(calc(100% - 40px), 400px);
        @include flex(row, space-around, center, wrap);
        .weatherTimeContainer{
            @include widthHeightsize(90%, 10%);
            @include flex(column, center, flex-end, wrap);
        }
        .weatherTemperatureContainer{
            @include widthHeightsize(50%, 90%);
            @include flex(row, center, center, wrap);
            border-right: 1px solid $clearColor50;
            .weatherIcon{
                margin-right: 10px;
            }
            span{
                font-size: 25px;
                font-weight: 600;
            }
        }
        .weatherExtraInfoContainer{
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.1em;
            @include widthHeightsize(30%, 90%);
            @include flex(column, center, center, wrap);
        }
    }
}
