* {
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 100;
  background: none;
  border: none; }

a {
  text-decoration: none;
  color: black;
  cursor: pointer; }

ul, ol {
  list-style: none; }

*:focus {
  outline: none;
  color: black;
  text-decoration: none; }

input {
  background-color: rgba(0, 0, 0, 0);
  border: none; }

/*
width of element:
	12 cols - 100%
	11 cols - 091,666666666%
	10 cols - 083,333333333%
	09 cols - 075%
	08 cols - 066,666666666%
	07 cols - 058,333333333%
	06 cols - 050%
	05 cols - 041,666666666%
	04 cols - 033,333333333%
	03 cols - 025%
	02 cols - 016,666666666%
	01 cols - 008,333333333%
	00 cols - 000%
*/
/*Mixins*/
@font-face {
  font-family: "Raleway";
  src: url("https://markmed.github.io/Resources/Raleway-Light_0.ttf"); }

.weatherLocationContainer {
  color: rgba(240, 240, 223, 0.75);
  height: auto;
  width: calc(100% - 40px);
  overflow: hidden;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #012a39; }
  .weatherLocationContainer button {
    height: 50px;
    width: 200px;
    margin: 20px;
    margin-top: 0;
    border: 1px solid rgba(240, 240, 223, 0.5);
    color: rgba(240, 240, 223, 0.75);
    font-family: 'Raleway';
    text-transform: uppercase;
    border-radius: 20px;
    transition: 0.4s cubic-bezier(0, 0, 0.27, 0.97);
    cursor: pointer; }
    .weatherLocationContainer button:hover {
      background-color: rgba(240, 240, 223, 0.75);
      color: rgba(1, 42, 57, 0.75);
      box-shadow: 0px 0px 5px 2px rgba(240, 240, 223, 0.75); }
    .weatherLocationContainer button:active {
      box-shadow: 0px 0px 10px 3px rgba(240, 240, 223, 0.75);
      transition: 0.1s cubic-bezier(0, 0, 0.27, 0.97); }
  .weatherLocationContainer .location {
    height: 100px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(240, 240, 223, 0.5);
    margin: 20px;
    margin-top: 0; }
  .weatherLocationContainer .weatherDataContainer {
    margin: 20px;
    margin-top: 0;
    background-color: rgba(240, 240, 223, 0.25);
    border-radius: 20px;
    height: 400px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .weatherLocationContainer .weatherDataContainer .weatherTimeContainer {
      height: 10%;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap; }
    .weatherLocationContainer .weatherDataContainer .weatherTemperatureContainer {
      height: 90%;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border-right: 1px solid rgba(240, 240, 223, 0.5); }
      .weatherLocationContainer .weatherDataContainer .weatherTemperatureContainer .weatherIcon {
        margin-right: 10px; }
      .weatherLocationContainer .weatherDataContainer .weatherTemperatureContainer span {
        font-size: 25px;
        font-weight: 600; }
    .weatherLocationContainer .weatherDataContainer .weatherExtraInfoContainer {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.1em;
      height: 90%;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
