.weatherDataContainer{
    background-color: rgba(17, 105, 177, 0.698);
}
.weatherExtraInfoContainer{
    background-color: rgba(134, 192, 240, 0.698);
    color: rgba(200, 250, 250, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}